:root {
  --page-background-color: #dfd3c3;
  --widget-background-color: #1e1e1e;
  --widget-background-hover-color: grey;
  ---default-font-color: #1e1e1e;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  background-color: var(--page-background-color);
}

a {
  font-weight: 500;
  font-size: 18px;
  color: var(--default-font-color);
  text-decoration: inherit;
  display: flex;
  justify-content: center;
}
a:hover {
  color: #413f3f;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.Bar {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  position: absolute;
  gap: 25px;
  top: 2.5rem;
  right: 13rem;
  align-items: center;
  width: 100%;
}

.round-button-join {
  border-radius: 25px;
  border: 1px solid transparent;
  padding: 0.6em 1.4em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--widget-background-color);
  cursor: pointer;
  color: white;
  transition: border-color 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2.5rem;
  right: 7rem;
}
button:hover {
  background-color: var(--page-background-color);
  border-color: var(--widget-background-color);
  color: var(--widget-background-color);
}
